{% extends '::frontend.html.twig' %}

{% block title %}
Últimas ofertas que ha comprado
{% endblock %}

{% block id 'compras' %}

{% block article %}
<h1>{{ block('title') }}</h1>
{% for compra in compras %}
    {% include 'OfertaBundle:Default:includes/minioferta.html.twig' with { 
    'comprada': true,
    'fechaCompra': compra.fecha,
    'oferta': compra.oferta } 
    %}
{% endfor %}
{% endblock %}

{% block aside %}
{% endblock %}
